<section>
<h1>Project: <%=@project.name%></h1>

<a class="btn btn-default" data-toggle="modal" data-target="#modal_create_table" >Create Table</a>

<span class="btn-group" >
  <a class="btn btn-default" id="btn_full_screen" >Full Screen</a>
  <a class="btn btn-default" id="btn_toggle_edit_mode" >Toggle Edit Mode</a>
</span>

<hr />
<script type="text/javascript">
var project_id = <%=@project.id%>;
var api_load_table = "<%=url_for :action=>:api_load_table %>";
var api_load_column = "<%=url_for :action=>:api_load_column %>";
var api_save_table_position = "<%=url_for :action=>:api_save_table_position %>";

var url_icon_move = '<%= asset_path 'ic_open_with_black_24dp_2x.png' %>';
var url_icon_edit = '<%= asset_path 'ic_create_black_24dp_2x'%>';
var url_icon_add = '<%= asset_path 'ic_add_black_24dp_2x.png'%>';

$('#btn_full_screen').click(function(){
  tablePanel.setState({
    height : $(window).height()
  });
});

$('#btn_toggle_edit_mode').click(function(){
  var can_edit = ! tablePanel.state.can_edit;
  tablePanel.setState({
    can_edit : can_edit,
    loading : true
  });
});
</script>
<%= react_component('PT_Database_Dashboard' ) %>

</section>



<div class="modal fade" role="dialog" id="modal_create_table">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Table</h4>
      </div>
      <div class="modal-body">
      	<%=form_tag (url_for :action=>:create_table) do %>
      		<input type="text" name="name" value="" />
      		<input type="submit" class="btn btn-default" />
      	<% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="modal_table_column">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Column</h4>
      </div>
      <div class="modal-body">
        <%=form_tag (url_for :action=>:add_column ) do %>
        	<label >Name</label>
        	<div class="input-group" >
				<input class="form-control" type="text" name="name" value="" />
			</div>
			<label >Type</label>
			<div class="input-group" >
				<select class="form-control" name="ttype" >
					<% TableHeader.columnTypeList.each do |type| %>
						<option value="<%=type%>" ><%=type%></option>
					<% end %>
				</select>
			</div>
			<input type="hidden" name="table_id" value="" />
			<input type="submit" class="btn btn-default" />
        <% end %>
      </div>
    </div>
  </div>
</div>