<section>
<h1>Project: <%=@project.name%></h1>

<a class="btn btn-default" data-toggle="modal" data-target="#modal_create_table" >Create Table</a>

<span class="btn-group" >
  <a class="btn btn-default" id="btn_full_screen" >Full Screen</a>
  <a class="btn btn-default" id="btn_toggle_edit_mode" >Toggle Edit Mode</a>
</span>

<a class="btn btn-default" href="<%=url_for :action=>:show_tables %>" >Show Tables</a>
<a class="btn btn-default export-png" href="#" >Export PNG</a>
<a class="btn btn-default" href="<%=url_for :action=>:gen_db_migration_laravel %>" >Generate Laravel DB files</a>

<hr />
<script type="text/javascript">
var project_id = <%=@project.id%>;
var api_load_table = "<%=url_for :action=>:api_load_table %>";
var api_load_column = "<%=url_for :action=>:api_load_column %>";
var api_save_table_position = "<%=url_for :action=>:api_save_table_position %>";

var url_icon_move = '<%= asset_path 'ic_open_with_black_24dp_2x.png' %>';
var url_icon_edit = '<%= asset_path 'ic_create_black_24dp_2x'%>';
var url_icon_add = '<%= asset_path 'ic_add_black_24dp_2x.png'%>';

$('#btn_full_screen').click(function(){
  tablePanel.setState({
    height : $(window).height()
  });
});

$('#btn_toggle_edit_mode').click(function(){
  var can_edit = ! tablePanel.state.can_edit;
  tablePanel.setState({
    can_edit : can_edit,
    loading : true
  });
});
</script>
<%= react_component('PT_Database_Dashboard', {}, { :id=>'DatabaseDashboard'} ) %>

</section>

<div class="modal fade" role="dialog" id="modal_create_table">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Table</h4>
      </div>
      <div class="modal-body">
      	<%=form_tag (url_for :action=>:create_table) do %>
      		<input type="text" name="name" value="" />
      		<input type="submit" class="btn btn-default" />
      	<% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="modal_table_column">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Column</h4>
      </div>
      <div class="modal-body">
        <%=form_tag (url_for :action=>:add_column), :id=>'form_column' do %>
        	<label >Name</label>
        	<div class="input-group" >
    				<input class="form-control" type="text" name="name" value="" />
    			</div>

    			<label >Type</label>
    			<div class="input-group" >
    				<select class="form-control" name="ttype" >
    					<% TableHeader.columnTypeList.each do |type| %>
    						<option value="<%=type%>" ><%=type%></option>
    					<% end %>
    				</select>
    			</div>

          <label >Desc</label>
          <div class="input-group" >
            <input class="form-control" type="text" name="desc" value="" />
          </div>

    			<input type="hidden" name="table_id" value="" />
          <input type="hidden" name="column_id" value="" />
          <input type="hidden" name="post_action" value="" />
          <input type="hidden" class="keep-data" name="back_x" value="" />
          <input type="hidden" class="keep-data" name="back_y" value="" />
          <input type="submit" class="btn btn-success keep-data" /  >

          <div class="exists_control" style="margin-top:20px;" >
              <a class="btn btn-danger" id="delete_column">Delete</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var tablePanelDOM = $('#DatabaseDashboard');
tablePanelDOM.disableSelection();

var back_y = $('[name=back_y]');
var back_x = $('[name=back_x]');

$('#delete_column').click(function(){
  if(!confirm('Sure Delete?')){
    return;
  }
  var form = $('#form_column');
  form.find('[name=post_action]').val('delete_column');
  form.submit();
});

var dx;
function svg2png(){
  var svg_data = $('#DatabaseDashboard').find('svg').clone();

  var x = 0;
  var y = 0;
  var width = 0;
  var height = 0;
  svg_data.find('[transform]').each(function(){
    var pos = $(this).attr('transform').replace('translate(', '').split(',');
      var _x = parseInt(pos[0]); var _y = parseInt(pos[1]); 
      if(_x < x ){ x = _x; }
      if(_y < y) { y = _y; }
      var _width = 0, _height = 0;
      $(this).find('rect').each(function(){
        var __width = parseInt($(this).css('width'))
        if(__width > _width){ _width = __width };
        var __height = parseInt($(this).css('height'))
        if(__height > _height){ _height = __height };

        var bwidth = this.getBBox().width;
        var bheight = this.getBBox().bheight;
        if( bwidth > _width) { _width = bwidth};
        if( bheight > _height) { _height = bheight};
      })
      var bwidth = this.getBBox().width;
      var bheight = this.getBBox().bheight;
      var bx = this.getBBox().x;
      var by = this.getBBox().y;
      if( bwidth > width) { width = bwidth};
      if( bheight > height) { height = bheight};
      if( bx < x ){ x = bx; }
      if( by < y) { y = by; }


      if(_width + _x > width){ width = _width + _x };
      if(_height + _y > height){ height = _height + _y};
  } );
  // console.log(x + ',' + y + '|' + width + ',' + height);
  var padding = 100;
  width -= x;
  height -= y;

  svg_data.find('[transform]:first').attr('transform', 'translate(' + (- x + 20) +','+  (-y + 20 ) +')');
  svg_data.attr('width', width + padding);
  svg_data.attr('height', height + padding);

  var target = svg_data[0];
  // Flatten CSS styles into the SVG
  for (i = 0; i < target.childNodes.length; i++) {
    child = target.childNodes[i];
    var cssStyle = window.getComputedStyle(child);
    if(cssStyle){
       child.style.cssText = cssStyle.cssText;
    }
  }

  var xml  = new XMLSerializer().serializeToString(target);
  var data = "data:image/svg+xml;base64," + btoa(xml);

  img  = new Image();
  var canvas = document.createElement("canvas");
  canvas.width = width + padding;
  canvas.height = height + padding;
  var ctx = canvas.getContext("2d");
  img.setAttribute('src', data);

  function render(){
    ctx.drawImage( img, 0, 0 );

    window.open(canvas.toDataURL("image/png"));
  }
  setTimeout(render, 500);

}
$('.export-png').click(function(){
  svg2png();
});
</script>