<section>
<h1>Project: <%=@project.name%></h1>

<a class="btn btn-default" data-toggle="modal" data-target="#modal_create_table" >Create Table</a>
<hr />
<script type="text/javascript">
var project_id = <%=@project.id%>;
var api_load_table = "<%=url_for :action=>:api_load_table %>";
var api_save_table_position = "<%=url_for :action=>:api_save_table_position %>";
</script>
<%= react_component('PT_Database_Dashboard' ) %>

</section>



<div class="modal fade" role="dialog" id="modal_create_table">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Table</h4>
      </div>
      <div class="modal-body">
      	<%=form_tag (url_for :action=>:create_table) do %>
      		<input type="text" name="name" value="" />
      		<input type="submit" class="btn btn-default" />
      	<% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="modal_table_column">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Column</h4>
      </div>
      <div class="modal-body">
        <%=form_tag (url_for :action=>:create_table) do %>
          <input type="text" name="name" value="" />
          <input type="text" name="table_id" value="" />
          <input type="submit" class="btn btn-default" />
        <% end %>
      </div>
    </div>
  </div>
</div>